*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

.form-container{
    background-color: white;
    width: 300px;
    margin: 50px auto;
    box-shadow: 0px 3px 7px 3px rgba(0,0,0,0.2);

}
.form-container h3{
    text-align: center;
    padding: 8px;
}

input[type = text],input[type = password]{
    padding: 8px;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 4px;

}

input[type=submit]{
background-color:chartreuse ;
padding: 8px;
width: 100%;
cursor:pointer;
border:none;
border-radius: 4px;
}

input[type=text]:focus,input[type=password]:focus {
    outline: 0;
}
.form-grp{
    padding: 8px;
    position: relative;
}

.form-grp .fa{
    position: absolute;
    top: 50%;
    right: 8%;
    display:none;
}

.fa-times{
    color:red;

}

.fa-check{
    color:green;
}

#error{
    color:red;
}